*.cache
MVP-Anthem/obj/project.assets.json
MVP-Anthem/obj/MVP-Anthem.csproj.nuget.g.targets
MVP-Anthem/obj/MVP-Anthem.csproj.nuget.g.props
MVP-Anthem/obj/MVP-Anthem.csproj.nuget.dgspec.json
MVP-Anthem/obj/Debug/refint/MVP-Anthem.dll
MVP-Anthem/obj/Debug/ref/MVP-Anthem.dll
MVP-Anthem/obj/Debug/net8.0/refint/MVP-Anthem.dll
MVP-Anthem/obj/Debug/net8.0/ref/MVP-Anthem.dll
MVP-Anthem/obj/Debug/net8.0/MVP-Anthem.pdb
MVP-Anthem/obj/Debug/net8.0/MVP-Anthem.GlobalUsings.g.cs
MVP-Anthem/obj/Debug/net8.0/MVP-Anthem.GeneratedMSBuildEditorConfig.editorconfig
MVP-Anthem/obj/Debug/net8.0/MVP-Anthem.dll
MVP-Anthem/obj/Debug/net8.0/MVP-Anthem.csproj.Up2Date
MVP-Anthem/obj/Debug/net8.0/MVP-Anthem.csproj.FileListAbsolute.txt
MVP-Anthem/obj/Debug/net8.0/MVP-Anthem.AssemblyInfo.cs
MVP-Anthem/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MVP-Anthem/obj/Debug/MVP-Anthem.GlobalUsings.g.cs
MVP-Anthem/obj/Debug/MVP-Anthem.GeneratedMSBuildEditorConfig.editorconfig
MVP-Anthem/obj/Debug/MVP-Anthem.dll
MVP-Anthem/obj/Debug/MVP-Anthem.csproj.Up2Date
MVP-Anthem/obj/Debug/MVP-Anthem.csproj.FileListAbsolute.txt
MVP-Anthem/obj/Debug/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
.vs/MVP-Anthem/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/MVP-Anthem/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/MVP-Anthem/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/MVP-Anthem/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/MVP-Anthem/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/MVP-Anthem/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/MVP-Anthem/DesignTimeBuild/.dtbcache.v2
.vs/MVP-Anthem/FileContentIndex/0ca993f4-ec95-447f-b7e3-7725d6bf0dd9.vsidx
.vs/MVP-Anthem/FileContentIndex/3018d01b-78c7-469a-9c54-8371fd5f5484.vsidx
.vs/MVP-Anthem/FileContentIndex/9e0c28a2-0547-4724-9914-a8f7aae574e9.vsidx
.vs/MVP-Anthem/FileContentIndex/b1224402-4717-4a08-9ed8-b65d4c1389de.vsidx
.vs/MVP-Anthem/FileContentIndex/f36688b6-611a-4e34-8d04-1030bec862d8.vsidx
.vs/MVP-Anthem/v17/.futdcache.v2
.vs/MVP-Anthem/v17/.suo
.vs/MVP-Anthem/v17/DocumentLayout.backup.json
.vs/MVP-Anthem/v17/DocumentLayout.json
.vs/ProjectEvaluation/mvp-anthem.metadata.v9.bin
.vs/ProjectEvaluation/mvp-anthem.projects.v9.bin
.vs/ProjectEvaluation/mvp-anthem.strings.v9.bin
MVP-Anthem/bin/Release/addons/counterstrikesharp/plugins/MVP-Anthem/MVP-Anthem.deps.json
MVP-Anthem/bin/Release/addons/counterstrikesharp/plugins/MVP-Anthem/MVP-Anthem.dll
MVP-Anthem/bin/Release/addons/counterstrikesharp/plugins/MVP-Anthem/ClientprefsApi.dll
MVP-Anthem/bin/Release/addons/counterstrikesharp/plugins/MVP-Anthem/Tomlyn.dll
MVP-Anthem/bin/Release/addons/counterstrikesharp/plugins/MVP-Anthem/lang/en.json
.vs/MVP-Anthem/FileContentIndex/bbc8e30a-8a66-4060-bc6b-64602b041f13.vsidx
.vs/MVP-Anthem/FileContentIndex/6c4aa305-1544-4b7d-b581-957cc323b33d.vsidx
